* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* header .navbar*/
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    padding: 20px 40px;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 2;
    /* border-bottom: solid black 1px; */
}

.navbar__title__menu {
    display: none;
}

.navbar__title__logo img {
    width: 200px;
}

/* navbar__heading */
.navbar__heading {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.navbar__heading--list {
    background-color: white;
    padding: 7px 15px;
    border-radius: 20px;
}

.navbar__heading--list:hover {
    background-color: rgb(239, 235, 235);
    padding: 7px 15px;
    border-radius: 20px;
}

.navbar__heading--forums:hover {
    color: rgb(129, 112, 112);
    text-decoration: underline;
}

.navbar__preference {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar__preference--inr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 7px 15px;
    border-radius: 20px;
}

.navbar__preference--inr:hover {
    background-color: gainsboro;
    padding: 7px 15px;
    border-radius: 20px;
}

.navbar__preference img {
    width: 16px;
}

.navbar__preference--inr h5 {
    padding: 5px;
    border-left: solid gray 1.5px;
}

.navbar__preference--signin {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.navbar__user {
    display: none;
}

.navbar__user img {
    width: 25px;
}

@media screen and (max-width:1000px) {

    .navbar__heading,
    .navbar__preference--inr {
        display: none;
    }

    .navbar__title__menu {
        display: block;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

}

@media screen and (max-width:600px) {

    .navbar__heading,
    .navbar__preference {
        display: none;
    }

    .navbar__user {
        display: block;
    }

    .navbar__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
    }

}


/* Main screen */
.mainscreen {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

/* main screen 1 */
.mainscreen1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
    cursor: pointer;
}

.mainscreen1__title1 {
    border-bottom: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 5px;
}

.mainscreen1__title1:hover {
    border-bottom: solid black 2px;
    opacity: 0.6;
}

.mainscreen1__title2 {
    border-bottom: solid white 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 5px;
}

.mainscreen1__title2:hover {
    border-bottom: solid black 2px;
    opacity: 0.6;
}

.mainscreen1__title1 img {
    width: 20px;
}

.mainscreen1__title2 img {
    width: 20px;
}

@media screen and (max-width:800px) {
    .mainscreen1__title2 {
        display: none;
    }

}

/* main screen search */
.mainsearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: solid rgb(233, 226, 226) 1px;
    margin: 0 196px 30px 196px;
    border-radius: 30px;
    box-shadow: 1px 1px 3px 2px rgb(233, 226, 226);
    gap: 20px;

}

.mainsearch__place {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;

}

.mainsearch__place img {
    width: 18px;
    cursor: pointer;
    padding-left: 10px;
}

.mainsearch__place input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 17px;
    width: 300px;

}

.mainsearch__button {
    padding: 15px;
    background-color: rgb(21, 204, 143);
    columns: black;
    border-radius: 30px;
    cursor: pointer;
}

.mainsearch__button:hover {
    padding: 15px;
    background-color: rgb(106, 204, 171);
}

@media screen and (max-width:900px) {
    .mainsearch__button {
        display: none;
    }
}

@media screen and (max-width:750px) {
    .mainsearch {
        font-size: 10px;
    }

    .mainsearch__place input {
        display: none;
    }
}



/* mainscreen image */
.mainscreenimage {
    background-color: red;
    margin: 50px 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    width: fit-content;
    padding: 10px;
}

.mainscreenimage__gip {
    padding: 20px;
    flex-basis: 30%;
    flex-grow: 1;
    border-right: solid black 2px;
    position: relative;
}

.mainscreenimage__gip img {
    width: 95%;
    height: 120%;
    border-radius: 20px;
}

.mainscreenimage__gip__tag {
    position: absolute;
    bottom: 30px;
    left: 25px;
}

.mainscreenimage__gip__tag h3 {
    background-color: red;
    border: solid black 2px;
    border-radius: 20px;
    padding: 7px 10px;
}

.mainscreenimage__title {
    flex-basis: 30%;
    flex-grow: 1;
    z-index: 1;
    padding: 20px;

}

.mainscreenimage__title__1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    flex-wrap: wrap;
    width: 500px;
    gap: 20px;
    position: relative;
}

.mainscreenimage__title h1 {
    padding-right: 20px;
    font-size: 70px;
    padding: 10px;
    flex-basis: 20%;
    flex-grow: 1;
    line-height: 0.94;
}

.mainscreenimage__title p {

    font-size: 19px;
    flex-basis: 40%;
    flex-grow: 1;
}

.mainscreenimage__title h4 {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 30px;
    flex-basis: 40%;
    flex-grow: 1;

}

.mainscreenimage__title__pause {
    position: absolute;
    bottom: -20px;
    right: -30px;
}

.mainscreenimage__title__pause img {
    width: 20px;
}

@media screen and (max-width:1000px) {
    .mainscreenimage {
        height: 550px;
    }

    .mainscreenimage__gip {
        border-right: none;
        width: fit-content;
        height: 20%;
    }

    .mainscreenimage__title {
        border-top: solid black 2px;
    }

    .mainscreenimage__title__1 {
        position: relative;
    }

    .mainscreenimage__title__pause {
        position: absolute;
        bottom: 2px;
        right: 0px;
    }
}

@media screen and (max-width:600px) {
    .mainscreenimage {
        height: auto;
        width: 400px;
    }

    .mainscreenimage__gip {
        border-right: none;
        width: fit-content;
        height: 20%;
    }

    .mainscreenimage__title {
        border-top: solid black 2px;
    }

    .mainscreenimage__title__1 {
        width: fit-content;
    }

    .mainscreenimage__title__pause {
        width: fit-content;
    }
}

/* mainscreen image 2*/
.mainscreenimage2 {
    background-color: rgb(161, 143, 161);
    margin: 10px 60px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
}

.mainscreenimage2__gip { 
    flex-basis: 10%;
    flex-grow: 1;
}

.mainscreenimage2__gip img {
    width: 600px;
    height: 600px;
    border-radius: 20px;
}

.mainscreenimage2__title {
    flex-basis: 10%;
    flex-grow: 1;
    z-index: 1;
    padding: 20px;

}

.mainscreenimage2__title__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainscreen2__title__content__side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainscreenimage2__title__content__side img {
    position: relative;
    top: 40px;
    left: 60px;
    width: 30px;
}

.mainscreenimage2__title__content h1 {
    padding: 0 10px;
}

.mainscreenimage2__title__content p {
    width: 400px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.mainscreenimage2__title__content h4 {
    background-color: black;
    color: white;
    border: solid black 2px;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 8px;
    width: fit-content;
}

.mainscreenimage2__title__content h4:hover {
    opacity: 0.7;
}



/* Interset */
.interset {}

.interset__title {
    margin: 0px 60px;
}

.interset__title h2 {
    padding: 10px 0;
}

.interset__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 50px;
    gap: 10px;
}

.interset__image__list {

    flex-basis: 20%;
    flex-grow: 1;
    position: relative;
    cursor: pointer;
}

.interset__image__list:hover {
    opacity: 0.8;
}

.interset__image__list h2 {
    position: absolute;
    color: white;
    bottom: 20px;
    left: 15px;
}

#interset__image__list__title {
    position: absolute;
    color: white;
    bottom: 50px;
    left: 15px;
}

.interset__image__list__desc {
    width: 270px;
}

.interset__image__list img {
    width: 275px;
    height: 280px;
    border-radius: 10px;
}

@media (min-width:750px) and (max-width:992) {}

/* Interset 3*/
/* .interset3 {
    margin: 50px 60px;
    margin-bottom: -220px;
}

.interset3__title h2 {
  padding: 10px 0;
}

.interset3__image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    
}

.interset3__image__list {
    cursor: pointer;
    position: relative;
}
.interset3__image__list:hover {
    opacity: 0.8;
}
.interset3__image__list h2{
    color: white;
    position: absolute;
    bottom: 300px;
    left: 20px;
}

.interset3__image__list img {
    width: 275px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}
.interset3__image__list p {
    width: 275px;
    height: 280px;
    border-radius: 10px;
} */


/* notebook */
.notebook {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgb(237, 233, 233);
    border-radius: 5px;
    cursor: pointer;
}

.notebook__image {
    flex-basis: 2px;
    flex-grow: 1;
}

.notebook__image img {
    width: 150px;
    transform: rotate(-5deg);
    border-radius: 30px;
    padding: 15px;
}

.notebook__title {
    flex-basis: 53%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}

.notebook__title__partnership {
    padding: 5px;
    background-color: rgb(213, 209, 209);
    font-size: 14px;
    flex-basis: 100%;
    flex-grow: 1;
}

.notebook__title h2 {
    flex-basis: 100%;
    flex-grow: 1;
}

.notebook__title__desc {
    padding: 5px;
    flex-basis: 90%;
    flex-grow: 1;
}

.notebook__button {
    background-color: white;
    border: solid black 2px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 100px 10px 0 10px;
}

.notebook__button:hover {
    background-color: black;
    color: white;
    border: solid black 2px;
}

/* @media (min-width:768) and (max-width:991){
    .notebook {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgb(237, 233, 233);
    border-radius: 5px;
    cursor: pointer;
    width: 768px;
}
.notebook__image{
    flex-basis: 2px;
    flex-grow: 1;
}
.notebook__image img {
    width: 100px;
    transform: rotate(-5deg);
    border-radius: 30px;
    padding: 15px;
}
    .notebook__title {
    flex-basis: 25%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.notebook__title__partnership {
    padding: 5px;
    background-color: rgb(213, 209, 209);
    font-size: 6px;
    flex-basis: 100%;
    flex-grow: 1;
}
.notebook__title h2{
    flex-basis: 100%;
    flex-grow: 1;
}
.notebook__title__desc
 {
    padding: 5px;
    flex-basis: 90%;
    flex-grow: 1;
 }
} */

/* cards */
.cards__title {
    margin: 0 60px;
}

.cards__desc {
    margin: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.cards__title h2 {
    padding: 10px 0;
}

.cards__desc__image {
    flex-basis: 20%;
    flex-grow: 1;
    position: relative;

}

.cards__desc__image h4 {
    flex-basis: 20px;
    flex-grow: 1;
}

.cards__desc__image__main {
    width: 270px;
    height: 280px;
    border-radius: 10px;
    position: relative;
}

.cards__desc__image__main:hover {
    opacity: 0.7;
}

.cards__desc__image__side {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 20px;
    padding: 10px;
    border: solid white 1px;
    border-radius: 20px;
    background-color: white;
}

.cards__desc__image__side:hover {
    background-color: rgb(247, 240, 240);
}

.cards__desc__arrow1 img {
    position: absolute;
    top: 140px;
    right: 0px;
    width: 25px;
    background-color: white;
    border: solid black 1px;
    border-radius: 40px;
    padding: 5px;
}

.cards__desc__arrow1 img:hover {
    background-color: rgb(235, 231, 231);
}

.cards__desc__arrow2 img {
    position: absolute;
    top: 140px;
    right: 1130px;
    rotate: 180deg;
    width: 25px;
    background-color: white;
    border: solid black 1px;
    border-radius: 40px;
    padding: 5px;
}

.cards__desc__arrow2 img:hover {
    background-color: rgb(235, 231, 231);
}

@media (min-width:768) and (max-width:1100px) {
    .cards__desc__image__side__1 {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px;
        font-size: 14px;
    }
}


/* Cards */

.ID {
    background-color: rgb(206, 199, 199);

}

.cards3__title {
    margin: 10px 60px;
    padding: 10px;

}

.cards3__desc {
    margin: 10px 60px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0;
    cursor: pointer;
    position: relative;
}

.cards3__title h2 {
    flex-basis: 20%;
    flex-grow: 1;
    padding: 10px 0;
}

.cards3__desc__image {
    flex-basis: 30%;
    flex-grow: 1;
    position: relative;
}

.cards3__desc__image__main {
    width: 352px;
    height: 250px;
    border-radius: 10px;
}

.cards3__desc__image__main:hover {
    opacity: 0.7;
}

.cards3__desc__image h4 {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.cards3__desc__image__side {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    padding: 10px;
    border: solid white 1px;
    border-radius: 20px;
    background-color: white;
}

.cards3__desc__image__side:hover {
    background-color: rgb(247, 240, 240);
}

.cards3__desc__arrow1 img {
    position: absolute;
    top: 180px;
    right: 10px;
    width: 25px;
    background-color: white;
    border: solid black 1px;
    border-radius: 40px;
    padding: 5px;
}

.cards3__desc__arrow1 img:hover {
    background-color: rgb(235, 231, 231);
}

.cards3__desc__arrow2 img {
    position: absolute;
    top: 180px;
    left: -17px;
    rotate: 180deg;
    width: 25px;
    background-color: white;
    border: solid black 1px;
    border-radius: 40px;
    padding: 5px;
}

.cards3__desc__arrow2 img:hover {
    background-color: rgb(235, 231, 231);
}





/* footer */
footer {
    background-color: rgb(239, 235, 235);
    padding: 20px 50px;

}

.foot {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    padding-right: 62px;
}

.foot__list1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
}

.foot__list1__1 {
    padding: 10px;
}

.foot__list1__1 div {
    font-size: 14px;
    padding: 10px 0;
    cursor: pointer;
}

.foot__list1__1 div p {
    padding: 4px 0;
    width: 190px;
}

.foot__list1__1 div p:hover {
    color: rgb(129, 112, 112);
    text-decoration: underline;
}

.foot__list1__2 {
    padding: 10px;
}

.foot__list1__2a div {
    font-size: 14px;
    padding: 10px 0;
    cursor: pointer;
}

.foot__list1__2a div p {
    padding: 4px 0;
    width: 190px;
}

.foot__list1__2a div p:hover {
    color: rgb(129, 112, 112);
    text-decoration: underline;
}

.foot__list2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.foot__list2 div {
    font-size: 14px;
    padding: 10px 0;
}

.foot__list2__2a {
    display: flex;
    gap: 3px;
}

.foot__list2__2a--link {
    text-decoration: underline;
    cursor: pointer;
}

.foot__list2__2a--link:hover {
    color: rgb(129, 112, 112);
    text-decoration: underline;
}


/* links */
.links {
    display: flex;
    justify-content: space-between;
}

.links__social-links {
    display: flex;
    gap: 15px;

}

.links__social-links__image img {
    width: 40px;
}

.links__social-links__copyright p {
    font-size: 12px;
}

.links__social-links__list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 14px;
    font-size: 14px;
    margin: 5px 0;
    text-decoration: underline;
    cursor: pointer;
}

.links__social-links__list h4:hover {
    color: rgb(129, 112, 112);
    text-decoration: underline;
}


.media {
    display: flex;
    gap: 10px;

}

.media__money__list {
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    border: solid grey 2px;
    cursor: pointer;
}

.media__money__list:hover {
    background-color: whitesmoke;
}

.media__country__list {
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    border: solid grey 2px;
    cursor: pointer;
}

.media__country__list:hover {
    background-color: whitesmoke;
}

.media__links {
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 22px;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px 0;
    cursor: pointer;
}

.media__links i:hover {
    opacity: 0.5;
}

.container {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    width: 66%;
    line-height: 1.5;
}

.container__desc {
    position: relative;
    top: -22px;
}

@media screen and (max-width:1111px) {

    .links__social-links__copyright,
    .links__social-links__list,
    .foot__list2,
    .media,
    .container {
        display: none;
    }
}

@media screen and (max-width:800px) {
    .foot__list1 {
        display: none;
    }
}